.venv
._venv
_.venv

**/raw/*
!**/raw/README.md
**/treated/*
!**/treated/README.md
related_works/**/.pdf
.vscode/
.DS_Store

**/*.h5

!**/pretrained/normalizer.h5
!**/pretrained/denormalizer.h5
!**/pretrained/mlp.h5

utils
gui.py
data_viz.py
regression.py
treat_data.py